<h1>Create New Workout</h1>
<form (submit)="processForm($event)" [formGroup]="workoutForm">
    <label for="w-name">Workout Name<span class="required">*</span></label>
    <input type="text" name="w-name" id="w-name" formControlName="workoutName">
    <div *ngIf="workoutForm.controls['workoutName'].invalid && workoutForm.controls['workoutName'].touched">
        <span class="required" *ngIf="workoutForm.controls['workoutName'].errors?.['required']">Workout Name is required</span>
        <span class="required" *ngIf="workoutForm.controls['workoutName'].errors?.['maxlength']">Workout Name needs to be 256 characters or less</span>
    </div>
    <label for="w-date">Workout Date</label>
    <input type="datetime-local" name="w-date" id="w-date" formControlName="workoutDate">

    <label for="ex-name">Exercise Name: </label>
    <input type="text" id="ex-name" formControlName="workoutExerciseName">

    <label for="ex-notes">Exercise Notes:</label>
    <input type="text" id="ex-notes" formControlName="workoutExerciseNotes">


    <input type="submit" role="button" value="Create">
</form>