.required {
    color: red;
}

.form-btn {
    width: fit-content;
    display: inline;
}

.flex {
    display : flex;
    justify-content: space-between;
}
.form-group {
    display: flex;
    vertical-align: center;
    text-align: center;
}
.form-group > label {
    margin: 0 10pt;
}
.form-group > input {
    margin: 0 1% 2% 1%;
}
.form-control {
    width: 90%;
}