<!-- String Interpolation -->
{{count}}

<!-- event binding -->
<button class="btn-fitcontent" (click)="increment()">increment</button>
<div class="grid">
    <div *ngFor="let num of arr">
        <span>Id: </span>{{num}}
        <div>
            Maybe put some user data
            or some item information here
        </div>
    </div>
</div>

<div *ngIf="show">
    Show field is True
</div>
<!-- In order to have access to event object, pass it with $event -->
<button role="button" (click)="toggleShow($event)">Toggle Show</button>